<h3 class="center-text">Git_Social with Forums</h3>
<section class="well container hoverable">
   <table class="bordered">

    <thead>
      <tr>
        <th data-field="topic">Topic</th>
        <th data-field="posts">Posts</th>
        <th data-field="name">Creator</th>
        <th data-field="post">Last Post</th>
      </tr>
    </thead>
    <tbody>
      <% @forums.each do |forum| %>
        <tr>
          <td>
            <%= link_to forum.topic.titleize,
                forum_path(forum.id) %>
          </td>
          <td><%= forum.posts.count %></td>
          <td>
            <%= link_to forum.user.name.titleize,
                profile_main_path(forum.user.id) %>
          </td>
          <td>
            <%= forum.posts.last.created_at.strftime('%B%e, %Y') %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
</section>

  <%= link_to 'New Forum', new_forum_path %>
