<h3 class="center-text">Git_Social with Forums</h3>
<section class="well container">
   <table class="hoverable">

    <thead>
      <tr>
        <th data-field="topic">Topic</th>
        <th data-field="posts">Posts</th>
        <th data-field="name">Creator</th>
        <th data-field="post">Last Post</th>
      </tr>
    </thead>
      <% @forums.each do |forum| %>
      <tr>
        <td><%= forum.topic %></td>
        <td><%= forum.posts.count %></td>
        <td><%= forum.user.name %></td>
        <td><%= forum.posts.last.created_at %></td>
      </tr>
      <% end %>
    <tbody>
    </tbody>
  </table>
  <br>
</section>

  <%= link_to 'New Forum', new_forum_path %>
