<section class="<!-- container -->">
  <div class="row">
    <div class="col s8 offset-s2">
    <h5 class="center-text"><%= @forum.topic.titleize %></h5>
      <p class="center-text">
        <b>Posts: </b><%= @forum.posts.count %>
        <b>Comments: </b><%= total_comments(@forum.posts) %>
      </p>
      <div class="row center-text">
        <%= link_to "New Post", "#modalA", class: 'modal-trigger btn green' %>
      </div>
      <div id="modalA"
           class="modal bottom-sheet well">
        <div class="modal-content">
          <%= form_for @post,
              url: create_post_path(@forum.id) do |f| %>
            <%= f.label :title %>
            <%= f.text_field :title, autofocus: true %>
            <%= f.label :body %>
            <%= f.text_area :body %>
        </div>
        <div class="modal-footer">
          <button class="modal-action modal-close btn-flat waves-effect
                         waves-light pull-right green white-text"
                         type="submit" name="action">Post</button>
          <%= link_to "Discard", "#!",
            class: "modal-action modal-close btn-flat waves-effect
                    waves-light pull-left red white-text" %>
        </div>
        <% end %>
      </div>
    </div>
    </div>
  </div>
  <% if @forum.posts %>
  <% counter = 1 %>
  <% @forum.posts.each do |post| %>
    <div class="row well">
      <div class="col s2 hide-on-small-only">
        <%= image_tag(post.user.image, size: '85',
                      class: 'responsive-img') %><br>
        <%= link_to post.user.name.split(" ").first,
            profile_main_path(post.user.id) %><br>
        <%= post.created_at.strftime('%B %e, %Y') %>
      </div>

      <div class="col s12 m9">
        <b><%= post.title.titleize %></b><br>
        <%= markdown(post.body) %><br>
        <%= link_to post.user.name, profile_main_path(post.user.id),
            class: 'pull-left hide-on-med-and-up' %>
      </div>
      <div>
        <%= link_to "<i class='glyphicon glyphicon-comment small pull-right'> </i>".html_safe, "#modal#{counter}", class: 'modal-trigger' %>
      </div>
      <div id="modal<%= "#{counter}" %>"
           class="modal bottom-sheet well">
        <div class="modal-content">
          <%= form_for @comment,
              url: create_comment_path(post.id, post.forum.id) do |f| %>
            <%= f.label :body %>
            <%= f.text_field :body, autofocus: true %>
        </div>
        <div class="modal-footer">
          <button class="modal-action modal-close btn-flat waves-effect
                         waves-light pull-right green white-text"
                         type="submit" name="action">Comment</button>
          <%= link_to "Discard", "#!",
            class: "modal-action modal-close btn-flat waves-effect
                    waves-light pull-left red white-text" %>
        </div>
        <% end %>
      </div>
    </div>
    <% if post.comments.count > 0 %>
    <div class="row">
      <ul class="collapsible col s8 offset-s2"
          data-collapsible="expandable">
        <li>
          <div class="collapsible-header center-text">
            <b>Comments: </b><%= post.comments.count %>
          </div>
          <% post.comments.each do |comment| %>
            <div class="row collapsible-body well">
              <div class="col m2 hide-on-small-only">
                <%= image_tag(comment.user.image, size: '50') %>
                <%= link_to comment.user.name.split(" ").first,
                    profile_main_path(comment.user.id) %><br>
                <i class="hide-on-med-and-down">
                  <%= comment.created_at.strftime('%-m-%d-%y') %>
                </i>
              </div>
              <div class="col s12 m9 offset-m1">
                <%= markdown(comment.body) %><br>
                <b class="pull-right hide-on-med-and-up">
                  <%= link_to comment.user.name,
                      profile_main_path(comment.user.id) %>
                </b>
              </div>
            </div>
          <% end %>
        </li>
      </ul>
    </div>
    <% end %>
    <% counter += 1 %>
    <%= %>
  <% end %>
<% end %>
</section>
