<section class="container">
  <div class="row">
    <div class="col s6 offset-s3">
    <h5 class="center-text"><%= @posts[0].forum.topic.titleize %></h5>
      <p class="center-text">
        <b>Posts: </b><%= @posts.count %>
        <b>Comments: </b><%= total_comments(@posts) %>
      </p>
    </div>
  </div>
  <% counter = 0 %>
  <% @posts.each do |post| %>
    <div class="row well">
      <div class="col s2 hide-on-small-only">
        <%= image_tag(post.user.image, size: '75',
                      class: 'responsive-img') %><br>
        <%= post.created_at.strftime('%B%e, %Y') %>
      </div>

      <div class="col s12 m9 flow-text">
        <b><%= post.title.titleize %></b><br>
        <%= post.body %><br>
        <%= link_to post.user.name,
            profile_main_path(post.user.id), class: 'pull-right' %>
      </div>
      <div>
        <%= link_to "<i class='glyphicon glyphicon-share-alt pull-right'></i>".html_safe, "#modal#{counter}", class: 'modal-trigger' %>
      </div>
      <div id="modal<%= "#{counter}" %>"
           class="modal bottom-sheet well">
        <div class="modal-content">
          <%= form_for @comment,
              url: create_comment_path(post.id, post.forum.id) do |f| %>
            <%= f.label :body %>
            <%= f.text_field :body, autofocus: true %>
        </div>
        <div class="modal-footer">
          <button class="modal-action modal-close btn-flat waves-effect
                         waves-light pull-right green white-text"
                         type="submit" name="action">Comment</button>
          <%= link_to "Discard", "#!",
            class: "modal-action modal-close btn-flat waves-effect
                    waves-light pull-left red white-text" %>
        </div>
        <% end %>
      </div>
    </div>
    <% if post.comments %>
      <% post.comments.each do |comment| %>
        <div class="row">
          <div class="col s1 offset-s5 hide-on-small-only">
          <%= image_tag(comment.user.image, size: '50',
                    class: 'responsive-img') %>
          </div>
          <div class="col s6 well pull-right">
            <%= comment.body %><br>
            <p class="pull-right"><%= link_to comment.user.name,
              profile_main_path(comment.user.id) %></p>
          </div>
        </div>
      <% end %>
    <% end %>
    <% counter += 1 %>
  <% end %>
</section>
