<section>
  <div class="row">
    <div class="col s12 m6 l4 border">
    <h5><%= @user.name.split(" ").first.pluralize %> Recent Activity</h5>
      <ul class="collection well">
        <% @events.each do |event| %>
          <li class="collection-item">
            <b>Repo: </b><%= split_url(event[:repo]) %>
          </li>
          <li class="collection-item">
            <b>Type: </b><%= event[:type] %>
          </li>
          <li class="collection-item">
            <b>Message: </b><%= event[:message] %>
          </li>
          <li class="collection-item">
            <b>Author: </b><%= event[:author] %>
          </li>
          <li class="collection-item">
            <b>Time: </b>
            <%= event[:time].strftime('%B %e, %Y') %>
          </li>
          <li class="collection-item">
            <%= link_to "View Event", event[:url] %>
          </li>
          <hr>
        <% end %>
      </ul>
    </div>
  </div>
</section>
