<section class="container well border">
  <div class="row">
  <div class="col s12 m8 offset-m2 l6" style="padding-right: 0">
      <ul class="collection with-header">

        <li class="collection-header left-align">
          <%= image_tag(@user.image, size: '100') %>
          <% if current_user.id == @user.id %>
            <%= link_to"<i class='material-icons right'>settings
                </i>".html_safe, edit_profile_path %>
          <% end %>
          <h5>
            <%= @user.name.titleize %>
          </h5>
        </li>

        <li class="collection-item">
          <b>Location: </b>
          <%= @user.location %>
        </li>

        <li class="collection-item">
          <b>Email: </b>
          <%= mail_to(@user.email) %>
        </li>

        <% if @user.github_url.length > 0 %>
          <li class="collection-item">
            <b>GitHub: </b>
            <%= link_to split_url(@user.github_url), @user.github_url %>
          </li>
        <% else %>
          <li class="collection-item">
            <b>GitHub not provided</b>
          </li>
        <% end %>

        <% if @user.twitter_url.length > 0 %>
          <li class="collection-item">
            <b>Twitter: </b>
            <%= link_to split_url(@user.twitter_url), @user.twitter_url %>
          </li>
        <% else %>
          <li class="collection-item">
            <b>Twitter not provided</b>
          </li>
        <% end %>

        <% if @user.linkedin_url.length > 0 %>
          <li class="collection-item">
            <b>Linkedin: </b>
            <%= link_to split_url(@user.linkedin_url),
                @user.linkedin_url %>
          </li>
        <% else %>
          <li class="collection-item">
            <b>Linkedin not provided</b>
          </li>
        <% end %>

        <% if @user.facebook_url.length > 0 %>
          <li class="collection-item">
            <b>Facebook: </b>
            <%= link_to split_url(@user.facebook_url),
                @user.facebook_url %>
          </li>
        <% else %>
          <li class="collection-item">
            <b>Facebook not provided</b>
          </li>
        <% end %>

        <% if @user.blog.length > 0 %>
          <li class="collection-item">
            <b>Blog: </b>
            <%= link_to split_url(@user.blog), @user.blog %>
          </li>
        <% else %>
          <li class="collection-item">
            <b>Blog not provided</b>
          </li>
        <% end %>
      </ul>
  </div>
    <div class="col s12 m8 offset-m2 l6" style="padding-left: 0">
      <ul class="collection with-header">
        <li class="collection-header">
          <h5>About Me <i class="green-text">&&</i> GitHub Stats</h5>
        </li>

        <li class="collection-item bio-box valign-wrapper">
          <p class="valign"><%= @user.bio %></p>
        </li>

        <li class="collection-item">
          <b>  Public Repos: </b> <%= @github_profile.public_repos %>
        </li>

        <li class="collection-item">
          <b>  Public Gists: </b> <%= @github_profile.public_gists %>
        </li>

        <li class="collection-item">
          <b>  Following: </b> <%= @github_profile.following %>
        </li>

        <li class="collection-item">
          <b>  Followers: </b> <%= @github_profile.followers %>
        </li>

        <li class="collection-item">
          <b>  Member since: </b>
          <%= Date.parse(@github_profile.created).strftime('%B %e, %Y') %>
        </li>
      </ul>
    </div>
  </div>
</section>
<section class="container well border top-margin">
  <div class="row">
    <% counter = 0 %>
    <% @repos.each do |repo| %>
      <div class="col s12 m10 offset-m1 l6">
        <ul class="collection with-header">
          <li class="collection-header repo-title valign-wrapper">
            <h5>
              <b class="valign">
                <%= link_to repo[:name].titleize, repo[:url] %>
              </b>
            </h5>
          </li>

          <% if repo[:description] != nil && repo[:description] != "" %>
            <li class="collection-item">
              <b>Description: </b>
              <%= link_to truncate(repo[:description], length: 29),
                  "#modal#{counter}", class: 'modal-trigger' %>
              <div id="modal<%= "#{counter}" %>"
                   class="modal bottom-sheet well">
                <div class="modal-content">
                  <h4><%= repo[:name].titleize %></h4>
                  <p><%= repo[:description] %></p>
                </div>
                <div class="modal-footer">
                  <%= link_to "Close", "#!",
                    class: "modal-action modal-close btn-flat waves-effect
                            waves-light pull-right" %>
                </div>
              </div>
            </li>
          <% else %>
            <li class="collection-item">
              No description given.
            </li>
          <% end %>

          <li class="collection-item"><b>Language: </b>
            <%= repo[:language] %>
          </li>

          <li class="collection-item"><b>Created: </b>
            <%= repo[:created].strftime('%B %e, %Y') %>
          </li>

          <li class="collection-item"><b>Updated: </b>
            <%= repo[:updated].strftime('%B %e, %Y') %>
          </li>

      <!-- section for stars / watching / fork count -->
          <li class="collection-item valign-wrapper">
            <i class="material-icons small valign
                      right-margin icon-color tooltipped"
                      data-tooltip="Stars">
              stars
            </i>
            <%= repo[:stars] %>
            <i class="material-icons small valign
                      left-pad right-margin icon-color
                      tooltipped" data-tooltip="Watchers">
              visibility
            </i>
            <%= repo[:watchers] %>
            <i class="material-icons small valign
                      left-pad right-margin icon-color tooltipped"
                      data-tooltip="Forks">
              call_split
            </i>
            <%= repo[:forks] %>
          </li>

        </ul>
      </div>
    <% counter += 1 %>
    <% end %>
  </div>
</section>
