<h5 class="center-text">Search results for
  <b><i><%= params[:search].titleize %></i></b>
</h5>
<div>
  <div class="row">
    <div class="col s12 m6 l4">
      <% if @forum_results.count > 0 %>
        <h5 class="center-text">
          <%= @forum_results.count %> Topic results
        </h5>
        <ul class="collapsible" data-collapsible="expandable">
          <% @forum_results.each do |forum| %>
            <li>
              <div class="collapsible-header">
                <%= truncate(forum.topic.titleize, length: 40) %>
              </div>
              <div class="collapsible-body well">
                <p>
                  <b>Posts: </b><%= forum.posts.count %><br>
                  <b>Comments: </b><%= total_comments(forum.posts) %><br>
                  <% if %>
                    <b>Last Post: </b>
                      <%= forum.posts.last.created_at.strftime('%B %e, %Y') %>
                  <% else %>
                    <b>No posts yet</b>
                  <% end %>
                  <br>
                  <b><%= link_to "View Topic", forum_path(forum.id) %></b>
                </p>
              </div>
            </li>
          <% end %>
        </ul>
      <% else %>
        <div><h5 class="center-text">0 topics found</h5></div>
      <% end %>
    </div>
    <div class="col s12 m6 l4">
      <% if @post_results.count > 0 %>
        <h5 class="center-text">
          <%= @post_results.count %> Post results
        </h5>
        <ul class="collapsible" data-collapsible="expandable">
          <% @post_results.each do |post| %>
            <li>
              <div class="collapsible-header">
                <%= truncate(post.title, length: 40) %>
              </div>
              <div class="collapsible-body well">
                <%= post.body %><br>
                <%= post.created_at.strftime('%B %e, %Y') %><br>
                <b>
                  <%= link_to "View Topic", forum_path(post.forum.id) %>
                </b>
              </div>
            </li>
          <% end %>
        </ul>
      <% else %>
        <div><h5 class="center-text">0 posts found</h5></div>
      <% end %>
    </div>
    <div class="col s12 m6 l4">
      <% if @user_results.count > 0 %>
        <h5 class="center-text">
          <%= @user_results.count %> User results
        </h5>
        <ul class="collapsible" data-collapsible="expandable">
          <% @user_results.each do |user| %>
            <li>
              <div class="collapsible-header">
                <%= user.name %>
              </div>
              <div class="collapsible-body well">
                <p>
                  <b>GitHub: </b><%= split_url(user.github_url) %><br>
                  <b>  Topics: </b><%= user.forums.count %>
                  <b>  ||  Posts: </b><%= user.posts.count %>
                  <b>  ||  Comments: </b><%= user.comments.count %><br>
                  <%= link_to "View Profile", profile_main_path(user.id) %>
                </p>
              </div>
            </li>
          <% end %>
        </ul>
      <% else %>
        <div><h5 class="center-text">0 users found</h5></div>
      <% end %>
    </div>
  </div>
</div>
