<section class="well container col-xs-12 col-sm-8 col-sm-offset-2">
  <h2 class="center-text">Sign in</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>
  <div class="form-group">
      <%= f.label :email, class: "col-sm-2 control-label" %>
      <div class="col-sm-8">
          <%= f.email_field :email, autofocus: true , class: "form-control" %>
      </div>
  </div>

  <div class="form-group">
      <%= f.label :password, class: "col-sm-2 control-label" %>
      <div class="col-sm-8">
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>
  </div>

  <% if devise_mapping.rememberable? -%>
  <div class="form-group">
      <div class="col-sm-8 col-sm-offset-2">
          <%= f.check_box :remember_me %> <%= f.label :remember_me %>
      </div>
  </div>
  <% end -%>

  <div class="form-group">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
      <%= f.submit "Sign in", class: 'btn btn-primary' %>
        <%- if devise_mapping.omniauthable? %>
          <%- resource_class.omniauth_providers.each do |provider| %>
            <%= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider), class: 'btn btn-success' %><br />
          <% end -%>
        <% end -%>
    </div>
  </div>

  <div class="form-group">
      <div class="col-sm-6 col-sm-offset-2">
          <%= render "devise/shared/links", locals: { omni_auth: false } %>
      </div>
  </div>
  <% end %>
</section>
