<!DOCTYPE html>
<html>
<head>
  <title>GitSocial</title>
  <%= stylesheet_link_tag 'application', media: 'all',
     'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Lato:700' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
  <header>
    <nav class='row'>
      <div class="nav-wrapper light-green darken-3">
        <a href="/" class="brand-logo logo-font">GitSocial</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse">
          <i class="material-icons">menu</i>
        </a>
          <div class="hide-on-med-and-down">
            <%= render partial: 'shared/search' %>
          </div>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <%= render partial: 'shared/navlinks' %>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><%= link_to 'Search', search_page_path %></li>
          <%= render partial: 'shared/navlinks' %>
        </ul>
      </div>
    </nav>
  </header>
  <main>

  <p class="notice center-text"><%= notice %></p>
  <p class="alert center-text"><%= alert %></p>

  <%= yield %>

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <%= javascript_include_tag 'bin/materialize.min.js' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </main>
  <footer class="page-footer light-green darken-3">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">GitSocial</h5>
          <p class="grey-text text-lighten-4">Thanks for dropping by.
            This is a final project for <%= link_to "The Iron Yard", "http://theironyard.com/locations/austin/" %> in Austin, Tx.
            If you have any questions, comments, or suggestions please feel
            free to post them on the forums or checkout the repo.
          </p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><%= link_to "Project Repo", "https://github.com/BenHand/git_social" %></li>
            <li class="white-text">Thanks <%= link_to "Casie Czapski", "https://github.com/cczapski" %> for the design help!</li>
            <li class="white-text">
              Benjamin Hand on
              <%= link_to "GitSocial",
                  "http://gitsocial.herokuapp.com/users/profile/15" %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container center-text">
        <p>
          Created by
          <%= link_to "Benjamin Hand", "https://github.com/BenHand" %> @
          The Iron Yard + RoR
        </p>
      </div>
    </div>
</footer>
</body>
</html>
