<!DOCTYPE html>
<html>
<head>
  <title>Git_Social</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
  <header>
    <nav>
      <div class="nav-wrapper light-green darken-3">
        <a href="/" class="brand-logo logo-font">Git_Social</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse">
          <i class="material-icons">menu</i>
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <%= render partial: 'shared/navlinks' %>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <%= render partial: 'shared/navlinks' %>
        </ul>
      </div>
    </nav>
  </header>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= yield %>

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <%= javascript_include_tag 'bin/materialize.min.js' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
